.todo-count > strong {
    margin-right: 5px;
}

*, *::after, *::before {
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

footer,
header,
.todo-count,
.filters li a,
div.view > label {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
	-webkit-user-select: none;
}

.toggle-all + label:before,
button.destroy,
input.toggle {
    cursor: pointer;
}

.clear-completed:hover {
    color: #202646;
    text-decoration: none;
}
.footer:before {
    height: 40px;
}

.todo-list li label {
    padding-right: 50px;
}

.todo-list li .destroy {
    margin: auto 0;
}